.search-form {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0;

    background: blueviolet;
    box-shadow: 10px 10px 8px 2px rgba(0, 0, 0, 0.3);
}

.container-gallery {
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
    padding-top: 20px;
}

input {
    outline: none;
    height: 34px;
    width: 400px;
    padding-left: 18px;
    margin-right: 8px;
}

.gallery {
    display: flex;
    justify-content: center;
    padding-top: 80px;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
}

.link-item-card {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    
}

.photo-card {
    max-width: 250px;

}

.img-cat {
 
    object-fit: cover;
    height: 200px;
    border-radius: 2px;
}

.info {
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.info-item {
    display: flex;
    text-align: center;
    font-size: 10px;
    line-height: 1.6;
}


button {
    display: inline-block;
    padding: 8px 10px;

    font-size: 16px;

    font-weight: normal;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 4px;


    background: pink;
    color: #ffffff;

    transition: background-color 0.6s ease;

}

button:hover,
button:focus {
    background: #1e1047;

}

button.load-more {
    margin-left: auto;
    margin-right: auto;
    margin-top: 26px;
    margin-bottom: 26px;
    /*  transition: background-color 0.6s ease; */
}